<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Datos del Tipo de Comisión</h1>
  </div>

  <div class="panel-body">
    <p>
      <%= link_to 'Editar tipo de comisión', edit_commission_type_path(@commission_type) %>
      <%= link_to 'Regresar al listado', :action => "index" %>
    </p>

    <div>
      <strong>Nombre:</strong>
      <%= @commission_type.name %>
    </div>

  </div>
</div>
