<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Agregar Banco</h1>
  </div>

  <div class="panel-body">
    <p>
      <%= link_to "Regresar al listado", :action => "index" %>
    </p>

    <%= render 'form' %>

  </div>
</div>
