<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Agregar un banco</h1>
  </div>
  <div class="panel-body">
    <p>
      <%= link_to "Regresar al listado", :action => "index" %>
    </p>
  </div>

  <%= render 'form' %>
</div>
