<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Datos del Estado</h1>
  </div>

  <div class="panel-body">
    <p>
      <%= link_to 'Editar estado', edit_state_path(@state) %>
      <%= link_to 'Regresar al listado', :action => "index" %>
    </p>

    <div>
      <strong>Nombre:</strong>
      <%= @state.name %>
    </div>

  </div>
</div>
