<h1>Asignación de Supervisores</h1>
<p id="notice"><%= notice %></p>

<!--<form class="navbar-form" role="search">
  <fieldset><legend>Búsqueda Avanzada</legend></fieldset>
  <div class="form-group">
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Sign In</button>
</form>
-->
<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Form Name</legend>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="textinput">Text Input</label>
      <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
        <p class="help-block">help</p>
      </div>
    </div>

  </fieldset>
</form>

<br />
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Supervisor</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <% @associates.each do |associate| %>
      <tr>
        <td>
          <%= associate.name %>
        </td>
        <td>
          <%= associate.email %>
        </td>
        <td>
          <%= associate.supervisor_name %>
        </td>
        <td>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
