/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require normalize-rails
 *= require_self
 */

body {
    background: #FFFFFF;
    font-family: arial, sans-serif;
    font-size: 16px;
}

header {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

header #linea_superior_naranja {
    background: #F69322;
    height: 40px;
}

header #linea_superior_morada {
    background: #48176D;
    height: 10px;
}

header #contenido {
    margin: 0 auto;
    overflow: hidden;
    padding: .5em;
    position: relative;
    max-width: 1000px;

    /*border: 1px solid brown;*/
}

header #contenido #logo {
    text-align: center;
}

header #contenido #menu {
    display: none;
    vertical-align: text-bottom;
}


header #contenido #menu nav {
    margin: 0 auto;
    right: 0;
    top: 0;

}

header #contenido #menu nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


header #contenido #menu nav ul li {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    height: 55px;
    margin: 0 0.5em 0 0;
    text-transform: uppercase;
}


/*#seccionContenido #contenido{
    display: none;
}
*/


/*
header #contenido #logo img{
    margin-right: 0.5em;
    padding-right: 0.5em;
    width: 100px;
}

header #contenido nav {
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: bottom;
}


header #contenido nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header #contenido nav ul li {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    height: 55px;
    margin: 0 0.5em 0 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top
}


header #contenido nav ul li a{
    color: #48176D;
    display: block;
    padding: 0.5em;
    text-decoration: none;
}


*/

header #loggeo {
    display: block;
    margin : 0 50px 0 50px;
}

#seccionContenido {
    overflow: hidden;
    position: relative;
    margin: 0 0 10px 0;
}

#seccionContenido #imagenLoggeo{
    display: none;
}


#seccionContenido #loggeo{
}


thead th {
  background-color: #006DCC;
  color: white;
}

tbody td {
  background-color: #EEEEEE;
}

footer {
    background: #F69322;
    border-top: 1px solid #48176D;;
    color: #ffffff;
    font-weight: bold;
    text-align: center;


}


footer #pie {
    font-size: 0.8em;
}


/* Tablets */
@media screen and (min-width: 768px) {

    header #loggeo {
        display: none;
    }

    header #contenido #logo {
        float: left;
        margin: 0 0px 0 30px;
        position: relative;
    }


    header #contenido #menu {
        bottom: 0;
        display: block;
        margin: 0 0 0 230px;
        position: absolute;
        vertical-align: text-bottom;

    }

    #seccionContenido #imagenLoggeo{
        display: block;
        float: left;
    }

    #seccionContenido #loggeo{
        float: left;
    }



}
